
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-top: 30px;
  max-width: 1500px;
}
.logoWrap {
  z-index: 1;
}

.logo {
  color: var(--logo-color);
  text-decoration: none;
  font-size: 55px;
  display: flex;
  flex-direction: column;
  font-family: "Big Shoulders Inline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 0.9;
}

.logo p {
  margin: 0;
}

.logoLastName {
  padding-left: 74px;
  color: black;
}

@media (max-width: 600px) {
  .logo {
    font-size: 30px;
  }

  .logoLastName {
    padding-left: 40px;
  }
}

.navMenu ul {
  padding: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  list-style: none;
  font-weight: 400;
  font-size: var(--font-size-bigger);
}

.navLink {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.navLink:hover,
.navLink:focus {
  color: var(--logo-color);
}

@media only screen and (max-width: 800px) {
  .navMenu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0, -100%, 0);
    will-change: transform;
    background-color: white;
    z-index: 1;
  }

  .navMenuOpen {
    transform: translate3d(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-size-bigger);
  }
}

/* .navMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    will-change: transform;
    background-color: white;
    z-index: 1;
  }

  .navMenuOpen {
    transform: translate3d(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-size-bigger);
  } */

    /* !!! not sure about this css, absolute only after   */
  .header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
  }

@media only screen and (min-width: 800px) {
  .navMenu ul {
    padding: 0px;
    flex-direction: row;
  }


}
