.workGridWrap {
  display: flex;
  justify-content: center;
  padding-top: var(--padding-top);
}

.workGrid {
  display: grid;
  grid-gap: 124px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 1200px; /* Restricting the max width ensures it doesn’t go beyond 3 columns */
  width: 100%;
}

.workGrid div {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding-bottom: 75%; Maintain a 4:3 aspect ratio for each grid item (height/width = 3/4) */
}

.workGrid a {
  text-decoration: none;
}

.workGrid div:hover .title {
  visibility: visible;
  opacity: 1;
}

.workGrid div:hover .workGridImg {
  opacity: 0.7; /* Reduce opacity when the user hovers over the grid item */
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.workGridImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: var(--primary-color);
}

.title {
  margin-top: 10px;
  font-size: var(--font-size-bigger);
  font-weight: 600;
  
  /* for text on top of the image */
  position: absolute;
  padding: 8px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(28, 3, 3, 0.5);
  width: fit-content;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .title {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.9s ease, visibility 0.9s ease;
  }
}
