.navButton {
  display: block;
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.navButton:hover .bar {
  background-color: var(--secondary-color);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.2s ease;
  background-color: var(--logo-color);
}

/*Button animation*/
.navButton.active .bar:nth-child(2) {
  opacity: 0;
  width: 0;
}

.navButton.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navButton.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 800px) {
  /* .navButton {
    display: block;
  } */

  /*Button animation*/
  /* .navButton.active .bar:nth-child(2) {
    opacity: 0;
    width: 0;
  }

  .navButton.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navButton.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  } */
}
