/* .heroContainer {
  height: 100vh;
  position: static;
}

.heroImage {
  position: absolute;
  inset: 0;
  object-fit: contain;
  height: 100%;
  width: 100%;
} */

/* hero.module.css */

.heroContainer {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 1; /* Default state is visible */
}

/* Class to apply when the image is not yet loaded to keep it hidden */
.hidden {
  opacity: 0;
}

/*
  'cover' fills the entire container, potentially cropping the image.
  'contain' ensures the entire image is visible, which may result in letterboxing.
*/
.landscape,
.square {
  object-fit: cover;
}

.portrait {
  object-fit: contain;
}

/* Styles for the control buttons */
.buttonContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
