.workGrid {
  display: grid;
  grid-gap: 50px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* padding-top: var(--padding-top); */
  padding-bottom: var(--padding-top);
}

.workGridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workGridItem {
  text-decoration: none;
}

.workGridItem:hover .title {
  visibility: visible;
  opacity: 1;
}

.workGridItem:hover .workGridImg {
  opacity: 0.7; 
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.workGridImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  margin-top: 20px;
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .title {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.9s ease, visibility 0.9s ease;
  }

  .workGrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
    /* grid-gap: 30px; */
  }

  .workGridItem:nth-child(even) .workGridImg {
    max-width: 68%;
  }
}