html,
body {
  background-color: #f8fafc;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  */

:root {
  --primary-color: #000000;
  --secondary-color: #2ecc71;
  --logo-color: #ff2cdf;
  --font-family: 'Roboto', sans-serif;
  --font-size: 12px;
  --font-size-bigger: 16px;
  --max-width: 1024px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.heroContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 230px);
}

.heroImage {
  position: absolute;
  inset: 0;
  object-fit: cover;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.projectGrid {
  /* display: grid;
  gap: 15px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  border-radius: 12px; */

  /* display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 133px;
    grid-row-gap: 135px;
    grid-auto-rows: min-content; */
}