html,
body {
  background-color: #f8fafc;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color: #000000;
  --secondary-color: #00ff6a;
  --logo-color: #ff00d9;
  --font-family: "Roboto", sans-serif;
  --font-size-small: 10px;
  --font-size: 16px;
  --font-size-bigger: 20px;
  --font-size-title: 20px;
  --max-width: 1024px;
  --padding-top: 100px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

/* --------- BIO --------- */
.bio-container {
  padding-top: var(--padding-top);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.bio-image {
  border-radius: 50%;
}

.bio-title {
  font-size: var(--font-size-title);
}

.bio-text {
  text-align: center;
  white-space: pre-wrap;
  max-width: 500px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  padding-top: 24px;
}

@media (max-width: 768px) {
  .bio-container {
    flex-direction: column;
  }

  .bio-text {
    text-align: center;
  }
}

.bio-social {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.instagram-svg:hover {
  fill: var(--logo-color);
}

/* --------- Project ------------*/

.project-container {
  padding-top: var(--padding-top);
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.title-container {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-small);
  padding-top: 24px;
  padding-bottom: 24px;
}

.title-container h1 {
  font-weight: normal;
}

/* --------- contact ------------*/
.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: var(--padding-top);
  gap: 50px;
}

.info-wrap {
  display: flex;
  text-align: center;
  gap: 50px;
}

.h2-contact {
  font-size: 16px;
}


@media only screen and (max-width: 768px) {
  .info-wrap {
    flex-direction: column;
    gap: 20px;
  }
}

.contact-info {
  padding-top: 8px;
  margin-bottom: 20px;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.contact-info:hover {
  color: #ff00d9;
  text-decoration: underline;
}

/* .contact-image {
  max-height: 500px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
} */
